# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Xcode workspace (可选，如果你只想提交 .xcodeproj)
*.xcworkspace

# Carthage
Carthage/Build/

# SwiftPM
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
